/************ TAG SELECTORS ************/
/*** #FEF5ED; ***/
/*body {
	background-color: white; 
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
} /

hr {
	margin-top: 0;
	margin:  auto;
	border-style: none;
	height: 0px;
	width: 10%;
	border-top-style: dotted;
	border-color: lightgrey;
	border-width: 4px;
	align-items: center;
}

h1 {
	color: #D3E4CD;
	font-family: 'Quintessential', cursive;
	font-size: 5rem;
	margin: 50px auto;
}

h2 {
	color: #ADC2A9;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
}

h3 {
	color: #ADC2A9;
	font-family: 'Montserrat', sans-serif;
}

img:hover {
	background-color: #99A799;
}

/************ CLASS SELECTORS ************

.personal_images {
	height: 100px;
	width:  auto;
}

.top-container {
	/*background-image: url("../images/top_container.jpeg");*
	display: inline-block;
	position:  relative;
	width: 100%;
}
/*** background-color: #D3E4CD; ***
.middle-container {
	background-color: white;
}
/*** background-color: #FEF5ED; ***
.bottom-container {
	background-color: white;
}

.skills {
	background-color: white;
}

.contact-me {
	background-color: white;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
}

/************ ID SELECTORS *************/

/*
#heading {
	background-color: #99A799;
} 
*/

/* Containers *

.container-fluid{
  padding: 7% 15%;
}

/* Sections *

.colored-section {
  background-color: #FEF5ED;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar *

.navbar {
  padding: 0 0 0rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 18px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}



/* Buttons *

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section *

#title {
  background-color: #FEF5ED;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}*/

/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
/*  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
/*  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

/*.cover-container {
  max-width: 42em;
}*/

.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch; 
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.main {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.title {
	align-items: flex-start;
}

.subtitle {
	align-items: center;
}

.right-navbar {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-end;
}

.navbar {
	display: flex;
	align-items: flex-end;
}

.navbar ul {
	display: flex;
	align-items: flex-end;
	list-style: none ;
}

.footer {
	align-items: flex-end;
	justify-content: space-between; 
}

/* We tell all items to be 100% width, via flex-basis */
/*.wrapper > * {
  flex: 1 100%;
}*/

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */


/* Small screens */
@media all and (max-width: 600px) {
  /* We tell both sidebars to share a row */
  .container { 
  	flex: 10 0px; 
  	order: 1; 
  	flex-flow: column wrap; 
  	justify-content: space-between; 
  	align-items: stretch; 
  }
  .footer  { 
  	flex: 1 0px; 
  	order: 2; 
  }
  .right-navbar { 
  	flex: 1 0px; 
  	order: 1; 
  	flex-flow: row wrap; 
  	justify-content: space-between; 
  }
  .brand { 
  	flex: 1 0px; 
  	order: 1; 
  	align-content: flex-start; 
  	align-self: flex-start; 
  }
  .navbar { 
  	flex: 10 0px; 
  	order: 2; 
  	flex-flow: column wrap; 
  }
  .navbar ul { 
  	flex-flow: column wrap; 
  }
  .main { 
  	flex: 10 0px; order: 2;  
  	justify-content: center; 
  }
/*  .title { flex: 1 0px; order: 1; }*/
/*  .subtitle { flex: 1 0px; order: 2; }*/
}

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .container { 
  	flex: 10 auto; 
  	order: 1; 
  	flex-flow: column wrap; 
  	justify-content: space-between; 
  	align-items: stretch; 
  	align-self: stretch;
  }
  .footer  { 
  	flex: 1 0px; 
  	order: 2; 
  }
  .right-navbar { 
  	flex: 1 0px; 
  	order: 1; 
  	flex-flow: row wrap; 
  	justify-content: space-between; 
  }
  .brand { 
  	flex: 1 0px; 
  	order: 1; 
  	align-content: flex-start; 
  	align-self: flex-start; 
  }
  .navbar { 
  	flex: 10 0px; 
  	order: 2; 
  	flex-flow: column wrap; 
  }
  .navbar ul { 
  	flex-flow: column wrap; 
  }
  .main { 
  	flex: 10 0px; 
  	order: 2; 
  	justify-content: center; 
  }
/*  .title { flex: 1 0px; order: 1; }*/
/*  .subtitle { flex: 1 0px; order: 2; }*/
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .container { 
  	flex: 10 0px; 
  	order: 1; 
  	flex-flow: row wrap; 
  	justify-content: space-between; 
  }
  .right-navbar { 
  	flex: 1 0px; 
  	order: 2; 
  	flex-flow: column wrap; 
  	align-self: flex-start; 
  	justify-content: flex-start; 
  	align-items: flex-end; 
  }
  .brand { 
  	flex: 1 0px; 
  	order: 1; 
  	align-self: flex-end; 
  }
  .navbar { 
  	flex: 10 0px; 
  	order: 2; 
  	flex-flow: column wrap; 
  }
  .navbar ul { 
  	flex-flow: column wrap; 
  }
  .main { 
  	flex: 10 0px; 
  	order: 1; 
  	align-self: flex-start; 
  }
/*  .title { flex: 1 0px; order: 1; }*/
/*  .subtitle { flex: 1 0px; order: 2; }*/
  .footer  { 
  	flex: 1 0px; 
  	order: 2; 
  }
}


/*
 * Header
 */


.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}



