/************ TAG SELECTORS ************/
/*** #FEF5ED; ***/
body {
	background-color: white; 
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

hr {
	margin-top: 0;
	margin:  auto;
	border-style: none;
	height: 0px;
	width: 10%;
	border-top-style: dotted;
	border-color: lightgrey;
	border-width: 4px;
	align-items: center;
}

h1 {
	color: #D3E4CD;
	font-family: 'Quintessential', cursive;
	font-size: 5rem;
	margin: 50px auto;
}

h2 {
	color: #ADC2A9;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
}

h3 {
	color: #ADC2A9;
	font-family: 'Montserrat', sans-serif;
}

img:hover {
	background-color: #99A799;
}

/************ CLASS SELECTORS ************/

.personal_images {
	height: 100px;
	width:  auto;
}

.top-container {
	/*background-image: url("../images/top_container.jpeg");*/
	display: inline-block;
	position:  relative;
	width: 100%;
}
/*** background-color: #D3E4CD; ***/
.middle-container {
	background-color: white;
}
/*** background-color: #FEF5ED; ***/
.bottom-container {
	background-color: white;
}

.skills {
	background-color: white;
}

.contact-me {
	background-color: white;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
}

/************ ID SELECTORS *************/

/*
#heading {
	background-color: #99A799;
} 
*/

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #FEF5ED;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 0rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 18px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}



/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #FEF5ED;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;